body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #36defb, #0177b2, #012154);
}
.container{
    margin: 100px auto;
    text-align: center;
}
h1{
    font-size: 64px;
    color: #fff;
}
p{
    font-size: 80px;
    color: #fff;
}
button{
    border: none;
    padding: 18px 10px;
    font-size: 19.2px;
    width: 180px;
    margin: 10px ;
}
button:hover{
    cursor: pointer;
    background-color: #0177b2;
    color: #fff;
    transition: none;
    border: none;
}